* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

    .App {
        width: 100vw;
        height: 100vh;
        .wrapper {
            .bg {
                position: absolute;
                background-image: url('../img/bg3.jpg');
                background-size: cover;
                /* background-color: lightblue; */
                /* background-blend-mode: screen; */
                object-fit: cover;
                width: 100%;
                height: 100%;
                // clip-path: polygon(50% 0%, 100% 21%, 100% 100%, 0 74%, 0 0);
                svg {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                };
            };
            .container {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100vw;
                height: 100vh;
                .routes {
                    z-index: 5;
                    width: 60vw;
                    height: 80vh;
                    background: linear-gradient(45deg, #ebebebbb, #ffffffcb);
                    border-radius: 10px;
                    backdrop-filter: blur(3px);
                    box-shadow: 0 0 10px;
                };
            }
        }
    }