.article {
    padding: 5px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background: linear-gradient(
45deg
, #ebebebd4, #ffffff);
    .picture-wrapper {
        width: 100%;
        min-width:50%;
        border-radius: 10px;
        img {
            border-radius: 10px;
            width:100%;
            height:100%;
            object-fit: cover;
            overflow: hidden;
        }
    };
    .article-info {
        padding: 5px;
        display: flex;
        flex-direction: column;
        .title {
            font-weight: bold;
            font-size: larger;
        };
        .author {
            align-items: center;
            display: flex;
            flex-direction: row;
            justify-content: stretch;
            padding: 3px;
            .author-pic {
                width: 30px;
                height: 30px;
                margin-right: 10px;
                img {
                    object-fit: cover;
                    overflow: hidden;
                    height: 30px;
                    width: 30px;
                    border-radius: 50%;
                };
            };
            .author-name {

            };
        }
    }
}