.home {
    padding: 50px 40px;
    height: 100%;
    width: 100%;
    .grid {
        display: grid;
        grid-template-columns: 31% 31% 31%;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        grid-template-rows: 50% 50%;
        height:100%;
        width: 100%;
        perspective: 100px;
    };
}