.cls-1 {
    clip-path: url(#clip-login1);
    align-items: center;
  }

  .cls-10, .cls-2, .cls-6 {
    fill: none;
  }

  .cls-2 {
    stroke: #393838;
    stroke-linejoin: round;
    stroke-width: 3px;
  }

  .cls-3, .cls-4 {
    fill: #060101;
  }

  .cls-3 {
    font-size: 35px;
    font-family: Assistant-SemiBold, Assistant;
    font-weight: 600;
  }

  .cls-4 {
    font-size: 70px;
    font-family: Assistant-Bold, Assistant;
    font-weight: 700;
    align-items: flex-start;
    overflow: hidden;
  }

  .cls-5 {
    fill: url(#pattern);
  }

  .cls-6, .cls-7, .cls-8 {
    stroke: #707070;
  }

  .cls-8 {
    fill: #7b7979;
  }

  .cls-9 {
    stroke: none;
  }