.picture {
    // padding: 5px;
    display: flex;
    flex-direction: column;
    // border-radius: 10px;
    // box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    // background: linear-gradient(
// 45deg
// , #ebebebd4, #ffffff);
    .picture-wrapper {
        border-radius: 10px;
        padding: 5px;
        // overflow: hidden;
        object-fit: cover; 
        width: 710px;
        height: 310px;

        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: stretch;

        .actual-picture {
            overflow: hidden;
            object-fit: cover; 
            width: 700px;
            height: 300px;
            border-radius: 10px;
        }
    };
    .pic-info {
        display: flex;
        flex-direction: column;
        .title {
            font-weight: bold;
            font-size: larger;
        };
    }
}